.card-list ul{
   list-style-type: none;
    margin: 0;
    padding: 0;
}

.card-list {
    margin-left: 2%;
    margin-right: 2%;
    padding: 0;
    width: 20%;
}

.card-list h2 {
    margin: 1rem;
    margin-top: 0rem;
}

.card-body {
    padding: 10px
}

.card-header {
}